/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* regole header */
 header {
    background-color: #ADD8E7;
    padding: 20px;
} 

.nav-main {
    background-color: orange;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oggetti {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30px;
}

ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-left: 125px;
}

#login {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

#logo {
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

/* sezione download main */
#download {
    background-color: #00018B;
    padding: 20px;
}

.download-section {
    background-color: #EF82ED;
    width: 45%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

.dim1 {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30px;
}

/* main principale */
.skyblue {
    background-color: #1E90FF;
}

.pink {
    background-color: #FFC0CA;
    width: 60%;
}
/* place to talk */
.white-bkg {
    background-color: white;
    padding: 20px;
}

.gray-bkg {
    background-color: #D3D3D3;
    padding: 20px;
}

.main-row {
    width: 60%;
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dim2 {
    display: flex;
    justify-content: center;
    height: 370px;
    width: 100%;
    
}

.skyblue {
    background-color: #1E90FF;
}

.pink {
    background-color: #FFC0CA;
    width: 60%;
}

/* fandom */
.main-row-reverse {
    width: 60%;
    /* height: 300px; */
    margin: 0 auto;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

